# Contentful
CONTENTFUL_SPACE_ID=
CONTENTFUL_DELIVERY_TOKEN=
CONTENTFUL_PREVIEW_TOKEN=
CONTENTFUL_MANAGEMENT_TOKEN=

# Resend
RESEND_API_KEY=
CONTACT_EMAIL=piotrchuchla9@gmail.com
CONTACT_FROM_EMAIL=onboarding@resend.dev

# Cloudflare Turnstile
PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Site
SITE_URL=http://localhost:4321
